body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: hsl(27, 66%, 92%);
	margin: 0;
	padding: 65px 15px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 540px;
	width: 100%;
	height: auto;
}

.walletResumeSec {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 125px;
	border-radius: 20px;
	background-color: hsl(10, 79%, 65%);
	box-sizing: border-box;
	padding: 0 35px 0 30px;
	margin-bottom: 20px;
}

.my_Balance {
	display: flex;
	flex-direction: column;
}

.my_Balance h2 {
	font-family: 'DM Sans', sans-serif;
	color: hsl(33, 100%, 98%);
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}

.my_Balance p {
	font-family: 'DM Sans', sans-serif;
	color: white;
	margin: 0;
	font-size: 32px;
	font-weight: 700;
}

.walletDetailSec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 510px;
	border-radius: 20px;
	background-color: hsl(33, 100%, 98%);
	box-sizing: border-box;
	padding: 40px;
}

.graphSec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 290px;
}

.graphSec h2 {
	font-family: 'DM Sans', sans-serif;
	color: hsl(25, 47%, 15%);
	margin: 0;
	font-size: 32px;
	font-weight: 700;
}

hr {
	height: 1px;
    width: 100%;
    color: hsl(28, 10%, 53%);
}

.metricSec {
	display: flex;
	justify-content: space-between;
}

.totalArea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.totalArea h2 {
	font-family: 'DM Sans', sans-serif;
	color: hsl(28, 10%, 53%);
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}

.totalArea span {
	font-family: 'DM Sans', sans-serif;
	color: hsl(25, 47%, 15%);
	margin: 0;
	font-size: 45px;
	font-weight: 700;
}

.percentArea {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	box-sizing: border-box;
    padding-bottom: 10px;
}

.percentArea span {
	text-align: right;
	font-family: 'DM Sans', sans-serif;
	color: hsl(25, 47%, 15%);
	margin: 0;
	font-size: 18px;
	font-weight: 700;
}

.percentArea h2 {
	font-family: 'DM Sans', sans-serif;
	color: hsl(28, 10%, 53%);
	margin: 0;
	font-size: 18px;
	font-weight: 400;
}

@media (max-width: 480px) {
	.walletResumeSec {
		margin-bottom: 15px;
		height: 95px;
		padding: 0 25px 0 20px;
	}

	.my_Balance h2 {
		font-size: 15px;
	}

	.my_Balance p {
		font-size: 24px;
	}

	.walletResumeSec img {
		width: 60px;
	}

	.walletDetailSec {
		height: 420px;
		padding: 30px 20px;
	}

	.graphSec {
		height: 220px;
	}

	.graphSec h2 {
		font-size: 24px;
	}

	.totalArea h2 {
		font-family: 'DM Sans', sans-serif;
		color: hsl(28, 10%, 53%);
		margin: 0;
		font-size: 15px;
		font-weight: 400;
	}

	.totalArea span {
		font-family: 'DM Sans', sans-serif;
		color: hsl(25, 47%, 15%);
		margin: 0;
		font-size: 30px;
		font-weight: 700;
	}

	.percentArea h2 {
		font-family: 'DM Sans', sans-serif;
		color: hsl(28, 10%, 53%);
		margin: 0;
		font-size: 15px;
		font-weight: 400;
	}
}